body {
    margin: 0;
    font-family: 'Courier New', Courier, monospace;
    transition: background 0.3s, color 0.3s;
    background-size: cover;
    background-attachment: fixed;
    background-repeat: no-repeat;
    background-position: center;
    min-height: 100vh;
    /*zbog centriranja slike...*/
}

p {
    font-size: 18px;
    padding: 15px;
}

body.dark-theme {
    background-image: url('rogue.jpg');
    color: #E0E0E0;
}

body.light-theme {
    background-image: url('ac2.jpg');
    color: #222;
}

header {
    display: flex;
    flex-direction: column; /* da prvo ide naslov, pa navbar i dugme... */
    align-items: center;
    padding: 16px 32px;
    background: rgba(0, 0, 0, 0.5);
}

/* Header za light temu */
body.light-theme header {
    background: rgba(220, 220, 220, 0.6);
    color: #222;
}

h1 {
    font-size: 38px;
}

button {
    padding: 8px 16px;
    font-size: 1rem;
    cursor: pointer;
    background-color: #444;
    color: #fff;
    border: none;
    border-radius: 5px;
}

body.light-theme #theme-toggle {
    background-color: #ddd;
    color: #222;
}

div {
    justify-content: center;
    align-items: center;
    text-align: center;
    padding: 20px;
}

footer {
    text-align: center;
    padding: 15px;
    background: rgba(0, 0, 0, 0.5);
}

.index_footer {
    text-align: center;
    padding: 1rem;
    background: rgba(0, 0, 0, 0.5);
    position: fixed;
    bottom: 0;
    width: 100%;
    /*nisam imala bolju ideju*/
}

body.light-theme footer {
    background: rgba(200, 200, 200, 0.5);
    color: #222;
}

.header-right {
    display: flex;
    align-items: center;
    gap: 20px;
    margin-top: 10px;
}

.navbar a {
    text-decoration: none;
    color: #E0E0E0;
    margin: 0 10px;
    font-weight: bold;
    font-size: 20px;
}

body.light-theme .navbar a {
    color: #222;
}

.navbar a:hover {
    text-decoration: underline;
}

.images {
    justify-content: center;
    gap: 30px;
    margin: 15px 0;
}

.v_8090-img {
    width: 400px;
    border: 3px solid #E0E0E0;
    border-radius: 8px;
}

body.light-theme .retro-img {
    border: 3px solid #222;
}

.content p {
    max-width: 1300px;
    margin: 15px auto;
    line-height: 1.6;
    font-size: 18px;
}


.gameplay {
    width: 100%;          
    max-width: 100%;      
    height: auto;         
    display: block;       
    margin: 20px 0;       
    border-radius: 0;     
}
